# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
venv/
env/
.venv/

# Python packaging
*.egg-info/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Data
outputs/
logs/

# ML experiment artifacts
*.h5
*.ckpt
*.npz
*.pkl

# IDEs
.vscode/
.idea/

# Temporary files
*.log
*.tmp
